server {
    listen 80;
    server_name cdn.filopodia.com;

    location / {
       gzip_static on;
       expires max;
       root /var/www/cdn/public;
       log_not_found off;
       access_log off;
       add_header Cache-Control public;

       add_header 'Access-Control-Allow-Origin' '*';
       add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
    }
}
